@mixin italic {
  font-style: italic;
}

@mixin tiny {
  font-size: 10px;
}

.config_manager {
  .italic {
    @include italic;
  }

  .after {
    @include tiny;
    @include italic;
    color: #dcdcdc;
  }

  table {
    td {
      p {
        margin: 0;
      }

      .file_data {
        .thumbnail {
          width: 150px;
        }

        span {
          display: block;
        }
      }
    }
  }

  form {
    select {
      padding-right: 20px;
    }
  }
}